.Toolbox {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.5em;
  height: 100%;
  .select {
    position: absolute;
    top: -1.5em;
    left: -1.5em;
    padding: 0;
  }
  .pin {
    justify-self: end;
    align-self: start;
    // grid-row: 1/ 2;
    grid-row: initial;
    padding: 0;
  }
  footer {
    display: flex;
    justify-content: space-between;
    // align-self: end;
  }
  .select,
  .pin,
  footer {
    transition: all 0.3s ease-in-out;
  }

  .colorSelector {
    position: relative;
    display: inline-block;
    &:hover {
      .colorList {
        display: block;
        // z-index: 1;
      }
    }
  }
  .colorList {
    position: absolute;
    top: -40px;
    left: 0;
    display: none;
    box-shadow: 0 0 5px gray;
    padding: 0.5em;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border: 1px solid #000;
  }
}

// .hidden {
//   & > button,
//   & > footer {
//     opacity: 0;
//   }
// }
