.Toolbox {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.5em;
  height: 100%;
  .select {
    position: absolute;
    top: -1.5em;
    left: -1.5em;
    padding: 0;
  }
  .pin {
    justify-self: end;
    align-self: start;
    // grid-row: 1/ 2;
    grid-row: initial;
    padding: 0;
  }
  footer {
    display: flex;
    justify-content: space-between;
    // align-self: end;
    div {
      display: flex;
    }
  }
  .select,
  .pin,
  footer {
    transition: all 0.3s ease-in-out;
  }
  .menuContainer {
    position: relative;
  }
}

// .hidden {
//   & > button,
//   & > footer {
//     opacity: 0;
//   }
// }
