.Menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0px 1px 2px 1px gray;
  border-radius: 5px;
  z-index: 1;
  li {
    button {
      padding: 0.5em 1em;
      font-size: 0.875rem;
      // text-align: left;
      white-space: nowrap;
      // width: 100%;
      &:hover {
        background-color: rgba(95, 99, 104, 0.2);
      }
      &:active {
        background-color: rgba(95, 99, 104, 0.35);
      }
    }
  }
  .list {
    padding: 0.3em 0;
    li button {
      text-align: left;
      width: 100%;
    }
  }
  .grid {
    padding: 0.3em;
  }
}
