.NoteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 1em;
  margin: 0 auto;
  h2 {
    color: #5f6368;
    font-size: 0.6875rem;
    text-transform: uppercase;
  }
}

.list {
  flex-direction: column;
  align-content: stretch;
  max-width: 600px;
  width: 100%;
}
