.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  box-shadow: 0 0 1px gray;
  padding: 0.5em 1em;
  & > div {
    display: flex;
    align-items: center;
  }
  & > div:last-child {
    justify-content: flex-end;
    button:hover svg {
      opacity: 1;
    }
  }
  h1 {
    font-size: 1.375em;
  }
  svg {
    display: block;
  }
  h1,
  svg {
    color: black;
    opacity: 0.6;
  }
  .search {
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    border-radius: 10px;
    padding-right: 2em;
    width: 100%;
    max-width: 720px;
    &:focus-within {
      background-color: white;
      box-shadow: 0 1px 3px gray;
    }
    input {
      border: none;
      background-color: transparent;
      padding: 0.9em 0;
      width: 100%;
    }
  }
  button {
    font-size: 1.25rem;
    padding: 0.7em 0.75em;
  }
  .iconSidebar {
    margin-right: 0.5em;
  }
  .iconSidebar,
  .iconSearch {
    border-radius: 50%;
    &:hover {
      background-color: rgba(60, 64, 67, 0.08);
    }
  }
  .iconSearch {
    margin-left: 0.5em;
    margin-right: 0.35em;
    padding: 0.5em;
  }
  .menuContainer {
    position: relative;
  }
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr 7fr 1fr;
    // .search {
    //   display: flex;
    // }
  }
} 
