.Header {
  // border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1px gray;
  margin-bottom: 1.5em;
  padding: 0.5em 1em;
  div {
    display: flex;
  }
  form {
    border-radius: 10px;
    padding-right: 2em;
    border: 1px solid #000;
    display: flex;
  }
  button {
    padding: 1em;
  }
  input {
    border: none;
  }
}
