.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  box-shadow: 0 0 1px gray;
  padding: 0.5em 1em;
  & > div {
    display: flex;
    align-items: center;
  }
  & > div:last-child {
    justify-content: flex-end;
    button:hover svg {
      opacity: 1;
    }
  }
  h1 {
    font-size: 1.375em;
  }
  svg {
    display: block;
  }
  h1,
  svg {
    color: black;
    opacity: 0.6;
  }
  button {
    font-size: 1.25rem;
    padding: 0.7em 0.75em;
  }
  .iconSidebar {
    margin-right: 0.5em;
  }
  .iconSidebar {
    border-radius: 50%;
    &:hover {
      background-color: rgba(60, 64, 67, 0.08);
    }
  }
  .menuContainer {
    position: relative;
  }
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr 7fr 1fr;
  }
}
