.Sidebar {
  min-height: 100%;
  max-width: 280px;
  width: 100%;
  h2 {
    color: #5f6368;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: normal;
    padding: 1em 1em 1em 2em;
  }
  > ul {
    padding: 0.5em 0;
  }
  ul:not(:last-child),
  section {
    border-bottom: 1px solid #ddd;
  }
  li > * {
    padding: 1em 1em 1em 2em;
  }
  svg {
    color: #5f6368;
    font-size: 1.3rem;
    margin-right: 1em;
  }
  a {
    border: {
      top-right-radius: 25px;
      bottom-right-radius: 25px;
    }
    color: #202124;
    display: block;
    font-weight: 600;
    font-size: 0.875rem;
    text-align: left;
    width: 100%;
    &:hover:not([class*="active"]) {
      background-color: #f1f3f4;
    }
  }
}

.active {
  background-color: #feefc3;
}
