.NoteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 1em;
  margin: 0 auto;
}

.list {
  flex-direction: column;
  align-content: stretch;
  max-width: 600px;
  width: 100%;
}
