@import-normalize;

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#modal-root {
  position: relative;
  z-index: 999;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

input,
textarea {
  background-color: transparent;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

dd {
  margin: 0;
}

li {
  display: block;
}