.root {
  background-color: white;
  padding: 1.2em;
  h2 {
    text-align: center;
    color: #202124;
  }
}

.content {
  h3 {
    color: #1a73e8;
  }
  li {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    font-size: 0.9rem;
  }
  li:not(:last-child) {
    margin-bottom: 1em;
  }
}